*{
	padding:0;
	margin:0;
	font-family: sans-serif;
	color: #333;
}
header {
	height:70px;
}
header h1 {
	display: inline-block;
	float: left;
	padding:16px 24px;
}
header h1 a {
	transition:0,3s;
}
header h1 a:hover {
	color: #B8860B;
}
header ul {
	float: right;
}
header ul li {
	padding:24px;
	display: inline-block;
}
header ul li a{
	transition:0,3s;
}
header ul li a:hover {
	color: #B8860B;
}
a {
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
}
.container::after {
	content:'';
	display: block;
	clear: both;
}
.mobile-menu {
	float: right;
	display: none;
	padding: 18px;
}
.mobile-menu:hover {
	cursor: pointer;
}
#check{
	display: none;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgb(250, 250, 210);
	transition: .3s;
	z-index: 9999;
}
.sidebar ul li a {
	color: #000000;
	font-family: arial black;
}
.sidebar ul li {
	padding: 24px;
	transition: .3s;
	transition-property: background-color;
}
.sidebar ul li:hover {
	background-color: white;
}
#check:checked ~ .sidebar{
	left: 0;
}
.banner {
	background-color:#CD853F;
	padding: 100px 0;
}
section {
	padding: 50px 0;
}
.banner img {
	width: 150px;
	border-radius: 30px;
	box-shadow: 0 3px 5px #ddd;
	margin-bottom: 10px;
}
.banner h2,
.banner p,
.banner span{
	color: white;
}
}
.banner h2 {
	margin-bottom: 10px;
}
.banner p {
	font-size: 18px;
}
.banner-left {
	padding-left: 24px;
}
section h3{
	padding-bottom: 20px; 
	text-align: center;
	margin: 20px;
	position: relative;
}
section h3::before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 40px;
	height: 4px;
	background-color: #8B4513;
	left: calc(50% - 20px);
}
#Pengeluaran p {
	text-align: center;
	font-family: arial;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 15px;

}
#Pengeluaran img {
	width= 20% ;
	height= 20% ;
	display: block; 
	margin: auto;
}
#Pemasukan,
#Contact {
	background-color: #f9f9f9
}
#Pemasukan .bar {
	height: 30px;
	background-color: white;
	border: 1px solid #ddd;
	margin: 5px 0 20px 0;
}
.bar .nilai {
	height: 30px;
	display: inline-block;
	color: #fff;
	text-align: center;
}
.Januari {
	width: 50%;
	 background-color: #B22222;
}
.Februari {
	width: 70%;
	background-color: #00BFFF;
}
.Maret {
	width: 40%;
	background-color: #FF8C00;
}
.April {
	width: 75%;
	background-color: #228B22;
}
.Mei {
	width: 80%;
	background-color: #DAA520;
}
.Juni {
	width: 30%;
	background-color: #F08080;
}
.Juli {
	width: 80%;
	background-color: #32CD32;
}
.Agustus {
	width: 70%;
	background-color: #FFA500;
}
.September {
	width: 40%;
	background-color: #DA70D6;
}
.Oktober {
	width: 85%;
	background-color: #4169E1;
}
.November {
	width: 90%;
	background-color: #008080;
}
.Desember {
	width: 80%;
	background-color: #9ACD32;
}
#Peminjaman p{
	text-align: center;
	font-family: times new roman;
	text-indent: 60px;
	line-height: 25px;
	margin-bottom: 15px;
}
#Peminjaman img{
	width= 20% ;
	height= 20% ;
	display: block; 
	margin: auto;
}
.col-3{
	width: 33.33%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 10px;
}
.col-3 h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	font-size: 140%;
}
footer {
	background-color: #333;
	padding :60px;
	text-align: center;
}
footer small {
	color:white;
}
html {
	scroll-behavior: smooth;
}

@media (max-width: 768px){
	.mobile-menu {
		display: block;
	}
	header ul {
		display: none;
	}
	.col-3 {
		width: 100%;
	}
}